/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* font use font-family: 'Poppins', sans-serif; */

/* color-chart */

:root{
    --main-color: white;
    --sub-color:#E02C6D ;
    --backgroundColor-1:#2D25A0;
    --paragraphColor: #6C6C6C;


}

body{
    font-family:'Poppins', sans-serif ;
}

    /*---------------------------- 
             1st-section
    ------------------------------- */

.head{
    background-color: var(--backgroundColor-1) ;
}

.container{
    display: flex;
    padding: 108px 208px;
    
    
}

.container-1,.container-2{
    width: 50%;
}

.container-1 h1 {
    color: var(--main-color); 
    font-size: 94px;
    margin-bottom: 20px;
}

.container-1 a button{
    color: var(--main-color);
    background-color: var(--sub-color);
    padding: 10px 24px;
    font-size: 23px;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
}

.container-1 a button i{
    margin-left: 8px;
}
.container-2 img{
    width: 761.01px;
    height: 667px;
    margin-left: 92px;
}

.container-2:hover img{
    transform: scale(1.1) rotate(2deg);
    transition: transform 1s ease-in;
}



    /*---------------------------- 
             2nd-section
    ------------------------------- */

.middle{
    padding: 82px 327px;
    display: grid;
    grid-template-columns: repeat(3, 415px);
    grid-row-gap: 44px;
    justify-items: center;
}    

.player{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 513px;
    padding: 16px;
    background-color: var(--main-color);
    box-shadow: -2px 3px 25px grey;
    cursor: pointer;
} 

.player:hover{
    transform: scale(1.05);
    transition: transform .5s ease-in;
}


.player-name,.player-shortInfo{
    width: 50%;
    margin: 16px 0px;
}

.player-pic img{
    width: 100%;
    height: 100%;
}

.player-name{
    font-size: 32px;
    width: 100%
}
.player-shortInfo{
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    color: var(--paragraphColor);
}



   /*---------------------------- 
            3rd-section
    ------------------------------- */

 .footer{
     text-align: center;
 }

footer .football-logo img{
    width: 483.87px;
    height: 110px;
    margin: 70px 0px;
}

footer .socialmedia-icon a i{
    color: #969BAB;
    border: 7px solid #E7E7E8;
    background-color: #d7d7d7;
    border-radius: 50%;
    font-size: 22px;
    margin: 0px 10px;
    cursor: pointer;
}
.copyright{
    margin-top: 27px;
    margin-bottom: 78px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
}
.copyright i{
    font-size: 16px;
}

 
                   /* ----------------
                        Media Quary
                    ------------------*/

       /* for pixel2 device */
 
@media only screen and (max-width:688px) {
  
    .container{
        display: flex;
        flex-direction: column;
        
        
    }
    
    .container-1,.container-2{
        width: 100%;
        margin-left: -174px;
    }
    .container-1 h1{
        font-size: 57px;
    }
    .container-1 a button{
        width: 211px;
        height: 74px;
    }  
   .container-2 img{
    width: 437px;
    height: 348px;
    margin-left: -26px;
    margin-top: 91px;
}

/* middle */


.middle{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.player{
    display: flex;
    flex-direction: column;
    width: 313px;
    height: 475px;
    margin-left: -298px;
}

footer .football-logo img{
    width: 309px;
    height: 123px;
}

}